 <!-- The content heading -->
 <!-- addInventoryForm -->
 <% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<form class="form-wrapper" id="updateForm" action="/inv/delete-confirm/<%= inv_id %>" method="post">
    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" name="inv_make" required value="<%= inv_make %>" readonly>

    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" name="inv_model" required value="<%= inv_model %>" readonly>

    <label for="inv_year">Year</label>
    <input type="number" id="inv_year" name="inv_year" required value="<%= inv_year %>" readonly>

    <label for="inv_price">Price</label>
    <input type="number" id="inv_price" name="inv_price" required step="0.01" value="<%= inv_price %>" readonly>

    <button type="submit" name="submit" value="Delete Vehicle">Delete Vehicle</button>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>
<p>Confirmation Deletion - The delete is permanent.</p>
<%- messages() %>